html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: sans-serif;
}

canvas {
  width: 100%;
  height: 100%;
}

#fullscreen {
  cursor: pointer;
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
}

body.fullscreen #fullscreen {
  display: none;
}

#dead {
  display: none;
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  font-size: 50px;
  color: #fff;
  margin: 30px;
}

body.dead #dead {
  display: block;
}
